:root {
  --primary: #7b2cbf;
  --secondary: #240046;
}

.page-heading {
  text-align: center;
  margin: 0.5rem;
  color: var(--secondary);
}
.hero-heading {
  text-align: center;
  margin: 0.5rem;
  color: #3e0177;
}
.hero-btn {
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.hero-img {
  width: 700px;
  padding: 2rem;
  border-radius: 300px 30px 200px 30px;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.navigation {
  text-align: right;
  padding: 1.2rem;
  background-color: #9d4edd15;
  box-shadow: 2px 2px 5px #7a2cbfa0;
}

.navLink {
  font-size: 1.3rem;
  padding: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}

.card {
  padding: 1rem;
  width: 330px;
  border-radius: 5px;
  background-color: #9d4edd15;
  box-shadow: 2px 2px 5px #7a2cbfa0;
}

.card-link {
  font-weight: 600;
  color: var(--primary);
}

.card-link:hover {
  color: var(--secondary);
}

.card-img {
  width: 330px;
  height: 210px;
}

.card-list {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

button {
  font-weight: 600;
  color: #fff;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0.95;
  box-shadow: 2px 2px 5px #7a2cbf75;
}
button:hover {
  opacity: 1;
}
button:active {
  box-shadow: none;
}
.couponBtn {
  background-color: red;
  box-shadow: 2px 2px 5px #7d4f56a0;
}

.sub-heading {
  text-align: center;
  color: var(--primary);
}

.sub-details {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 1rem 1rem 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.menu-form {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

.filters-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  margin-left: 1.5rem;
}
label {
  font-weight: 600;
}
.inputSearch {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--primary);
}
